# Lasso Regression

## importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LassoCV

# Reading data for android

In [2]:
android_data = pd.read_csv('android_data_modified.csv')
android_data.head()

,Unnamed: 0.1,android_total_ratings,android_avg_rating,android_file_size,android_rating_4,android_rating_5,android_rating_2,android_rating_3,android_rating_1
0,2016-07-21 00:00:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
1,2016-07-21 00:10:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
2,2016-07-21 00:20:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
3,2016-07-21 00:30:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
4,2016-07-21 00:40:00,1281802,3.9,58.0,165956,726597,71521,117754,199974

In [3]:
alphas = np.logspace(-4, -0.5, 30)
lassocv_model_android = LassoCV(alphas=alphas, random_state=0)
lassocv_model_android

LassoCV(alphas=array([  1.00000e-04,   1.32035e-04,   1.74333e-04,   2.30181e-04,
         3.03920e-04,   4.01281e-04,   5.29832e-04,   6.99564e-04,
         9.23671e-04,   1.21957e-03,   1.61026e-03,   2.12611e-03,
         2.80722e-03,   3.70651e-03,   4.89390e-03,   6.46167e-03,
         8.53168e-03,   1...     7.88046e-02,   1.04050e-01,   1.37382e-01,   1.81393e-01,
         2.39503e-01,   3.16228e-01]),
    copy_X=True, cv=None, eps=0.001, fit_intercept=True, max_iter=1000,
    n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=0, selection='cyclic', tol=0.0001,
    verbose=False)

In [4]:
lassocv_model_android.fit(android_data.iloc[:, [2,3,4,5,6,7,8]], android_data.iloc[:,1])

LassoCV(alphas=array([  1.00000e-04,   1.32035e-04,   1.74333e-04,   2.30181e-04,
         3.03920e-04,   4.01281e-04,   5.29832e-04,   6.99564e-04,
         9.23671e-04,   1.21957e-03,   1.61026e-03,   2.12611e-03,
         2.80722e-03,   3.70651e-03,   4.89390e-03,   6.46167e-03,
         8.53168e-03,   1...     7.88046e-02,   1.04050e-01,   1.37382e-01,   1.81393e-01,
         2.39503e-01,   3.16228e-01]),
    copy_X=True, cv=None, eps=0.001, fit_intercept=True, max_iter=1000,
    n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=0, selection='cyclic', tol=0.0001,
    verbose=False)

In [5]:
lassocv_model_android.predict(android_data.iloc[-1,:][2:])

C:\Users\Gaurav Kolekar\Anaconda3\envs\env_tf\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 7013087.03581924])

## Reading ios data

In [6]:
ios_data = pd.read_csv('ios_data.csv')
ios_data = ios_data.iloc[:,1:]
ios_data.head()

       Unnamed: 0.1  ios_file_size  ios_all_ratings  ios_current_ratings
0  21-07-2016 00:00            110           106508                 4688
1  21-07-2016 00:10            110           106508                 4688
2  21-07-2016 00:20            110           106508                 4688
3  21-07-2016 00:30            110           106508                 4688
4  21-07-2016 00:40            110           106508                 4688

In [7]:
alphas = np.logspace(-4, -0.5, 30)
lassocv_model_ios = LassoCV(alphas=alphas, random_state=0)
lassocv_model_ios

LassoCV(alphas=array([  1.00000e-04,   1.32035e-04,   1.74333e-04,   2.30181e-04,
         3.03920e-04,   4.01281e-04,   5.29832e-04,   6.99564e-04,
         9.23671e-04,   1.21957e-03,   1.61026e-03,   2.12611e-03,
         2.80722e-03,   3.70651e-03,   4.89390e-03,   6.46167e-03,
         8.53168e-03,   1...     7.88046e-02,   1.04050e-01,   1.37382e-01,   1.81393e-01,
         2.39503e-01,   3.16228e-01]),
    copy_X=True, cv=None, eps=0.001, fit_intercept=True, max_iter=1000,
    n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=0, selection='cyclic', tol=0.0001,
    verbose=False)

In [9]:
lassocv_model_ios.fit(ios_data.iloc[:,[1,3]], ios_data.iloc[:,2])

LassoCV(alphas=array([  1.00000e-04,   1.32035e-04,   1.74333e-04,   2.30181e-04,
         3.03920e-04,   4.01281e-04,   5.29832e-04,   6.99564e-04,
         9.23671e-04,   1.21957e-03,   1.61026e-03,   2.12611e-03,
         2.80722e-03,   3.70651e-03,   4.89390e-03,   6.46167e-03,
         8.53168e-03,   1...     7.88046e-02,   1.04050e-01,   1.37382e-01,   1.81393e-01,
         2.39503e-01,   3.16228e-01]),
    copy_X=True, cv=None, eps=0.001, fit_intercept=True, max_iter=1000,
    n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=0, selection='cyclic', tol=0.0001,
    verbose=False)

In [10]:
ios_data.iloc[-1,:]

Unnamed: 0.1           31-10-2016 23:50
ios_file_size                       259
ios_all_ratings                  230601
ios_current_ratings                2436
Name: 14316, dtype: object

In [11]:
ios_data.iloc[-1, [1,3]]

ios_file_size           259
ios_current_ratings    2436
Name: 14316, dtype: object

In [12]:
lassocv_model_ios.predict(ios_data.iloc[-1, [1,3]])

C:\Users\Gaurav Kolekar\Anaconda3\envs\env_tf\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 225650.92877818])

In [13]:
ios_data.tail()

           Unnamed: 0.1  ios_file_size  ios_all_ratings  ios_current_ratings
14312  31-10-2016 23:10            259           230525                 2353
14313  31-10-2016 23:20            259           230525                 2353
14314  31-10-2016 23:30            259           230525                 2353
14315  31-10-2016 23:40            259           230601                 2436
14316  31-10-2016 23:50            259           230601                 2436