# Linearn Regression

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

## Reading Data for android

In [2]:
android_data = pd.read_csv('android_data_modified.csv')
android_data.head()

,Unnamed: 0.1,android_total_ratings,android_avg_rating,android_file_size,android_rating_4,android_rating_5,android_rating_2,android_rating_3,android_rating_1
0,2016-07-21 00:00:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
1,2016-07-21 00:10:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
2,2016-07-21 00:20:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
3,2016-07-21 00:30:00,1281802,3.9,58.0,165956,726597,71521,117754,199974
4,2016-07-21 00:40:00,1281802,3.9,58.0,165956,726597,71521,117754,199974

In [3]:
linear_model_android = LinearRegression()
linear_model_android

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
android_data.iloc[:, [0,2,3,4,5,6,7,8]]

,Unnamed: 0.1,android_avg_rating,android_file_size,android_rating_4,android_rating_5,android_rating_2,android_rating_3,android_rating_1
0,2016-07-21 00:00:00,3.9,58.0,165956,726597,71521,117754,199974
1,2016-07-21 00:10:00,3.9,58.0,165956,726597,71521,117754,199974
2,2016-07-21 00:20:00,3.9,58.0,165956,726597,71521,117754,199974
3,2016-07-21 00:30:00,3.9,58.0,165956,726597,71521,117754,199974
4,2016-07-21 00:40:00,3.9,58.0,165956,726597,71521,117754,199974
5,2016-07-21 00:50:00,3.9,58.0,165956,726597,71521,117754,199974
6,2016-07-21 01:00:00,3.9,58.0,165956,726597,71521,117754,199974
7,2016-07-21 01:10:00,3.9,58.0,165956,726597,71521,117754,199974
8,2016-07-21 01:20:00,3.9,58.0,165956,726597,71521,117754,199974
9,2016-07-21 01:30:00,3.9,58.0,165956,726597,71521,117754,199974
10,2016-07-21 01:40:00,3.9,58.0,165956,726597,71521,117754,199974
11,2016-07-21 01:50:00,3.9,58.0,165956,726597,71521,117754,199974
12,2016-07-21 02:00:00,3.9,58.0,165956,726597,71521,117754,199974
13,2016-07-21 02:10:00,3.9,58.0,165956,726597,71521,117754,199974
14,2016-07-21 02:20:00,3.9,58.0,165956,726597,71521,117754,199974
15,2016-07-21 02:30:00,3.9,58.0,165956,726597,71521,117754,199974
16,2016-07-21 02:40:00,3.9,58.0,165956,726597,71521,117754,199974
17,2016-07-21 02:50:00,3.9,58.0,165956,726597,71521,117754,199974
18,2016-07-21 03:00:00,3.9,58.0,165956,726597,71521,117754,199974
19,2016-07-21 03:10:00,3.9,58.0,165956,726597,71521,117754,199974
20,2016-07-21 03:20:00,3.9,58.0,165956,726597,71521,117754,199974
21,2016-07-21 03:30:00,3.9,58.0,165956,726597,71521,117754,199974
22,2016-07-21 03:40:00,3.9,58.0,165956,726597,71521,117754,199974
23,2016-07-21 03:50:00,3.9,58.0,165956,726597,71521,117754,199974
24,2016-07-21 04:00:00,3.9,58.0,167748,732956,71943,118795,201095
25,2016-07-21 04:10:00,3.9,58.0,167748,732956,71943,118795,201095
26,2016-07-21 04:20:00,3.9,58.0,167748,732956,71943,118795,201095
27,2016-07-21 04:30:00,3.9,58.0,167748,732956,71943,118795,201095
28,2016-07-21 04:40:00,3.9,58.0,167748,732956,71943,118795,201095
29,2016-07-21 04:50:00,3.9,58.0,167748,732956,71943,118795,201095
...,...,...,...,...,...,...,...,...
14754,2016-10-31 19:00:00,4.0,77.0,855800,4350128,284956,528354,981679
14755,2016-10-31 19:10:00,4.0,77.0,855800,4350128,284956,528354,981679
14756,2016-10-31 19:20:00,4.0,77.0,855800,4350128,284956,528354,981679
14757,2016-10-31 19:30:00,4.0,77.0,855800,4350128,284956,528354,981679
14758,2016-10-31 19:40:00,4.0,77.0,855800,4350128,284956,528354,981679
14759,2016-10-31 19:50:00,4.0,77.0,856048,4351592,285049,528559,982257
14760,2016-10-31 20:00:00,4.0,77.0,856048,4351611,285051,528559,982255
14761,2016-10-31 20:10:00,4.0,77.0,856048,4351592,285049,528559,982257
14762,2016-10-31 20:20:00,4.0,77.0,856048,4351592,285049,528559,982257
14763,2016-10-31 20:30:00,4.0,77.0,856048,4351592,285049,528559,982257
14764,2016-10-31 20:40:00,4.0,77.0,856048,4351592,285049,528559,982257
14765,2016-10-31 20:50:00,4.0,77.0,856048,4351592,285049,528559,982257
14766,2016-10-31 21:00:00,4.0,77.0,856048,4351592,285049,528559,982257
14767,2016-10-31 21:10:00,4.0,77.0,856048,4351592,285049,528559,982257
14768,2016-10-31 21:20:00,4.0,77.0,856048,4351592,285049,528559,982257
14769,2016-10-31 21:30:00,4.0,77.0,856048,4351592,285049,528559,982257
14770,2016-10-31 21:40:00,4.0,77.0,856048,4351592,285049,528559,982257
14771,2016-10-31 21:50:00,4.0,77.0,856048,4351592,285049,528559,982257
14772,2016-10-31 22:00:00,4.0,77.0,856048,4351592,285049,528559,982257
14773,2016-10-31 22:10:00,4.0,77.0,856048,4351592,285049,528559,982257
14774,2016-10-31 22:20:00,4.0,77.0,856048,4351592,285049,528559,982257
14775,2016-10-31 22:30:00,4.0,77.0,856048,4351592,285049,528559,982257
14776,2016-10-31 22:40:00,4.0,77.0,856048,4351592,285049,528559,982257
14777,2016-10-31 22:50:00,4.0,77.0,856048,4351592,285049,528559,982257
14778,2016-10-31 23:00:00,4.0,77.0,856048,4351592,285049,528559,982257
14779,2016-10-31 23:10:00,4.0,77.0,856048,4351592,285049,528559,982257
14780,2016-10-31 23:20:00,4.0,77.0,856048,4351592,285049,528559,982257
14781,2016-10-31 23:30:00,4.0,77.0,856048,4351592,285049,528559,982257
14782,2016-10-31 23:40:00,4.0,77.0,856048,4351611,285051,528559,982255
14783,2016-10-31 23:50:00,4.0,77.0,856213,4352574,285115,528687,982631

In [5]:
android_data.iloc[:,1]

0        1281802
1        1281802
2        1281802
3        1281802
4        1281802
5        1281802
6        1281802
7        1281802
8        1281802
9        1281802
10       1281802
11       1281802
12       1281802
13       1281802
14       1281802
15       1281802
16       1281802
17       1281802
18       1281802
19       1281802
20       1281802
21       1281802
22       1281802
23       1281802
24       1292537
25       1292537
26       1292537
27       1292537
28       1292537
29       1292537
          ...
14754    7000917
14755    7000917
14756    7000917
14757    7000917
14758    7000917
14759    7003505
14760    7003524
14761    7003505
14762    7003505
14763    7003505
14764    7003505
14765    7003505
14766    7003505
14767    7003505
14768    7003505
14769    7003505
14770    7003505
14771    7003505
14772    7003505
14773    7003505
14774    7003505
14775    7003505
14776    7003505
14777    7003505
14778    7003505
14779    7003505
14780    7003505
14781    7003505
14782    7003524
14783    7005220
Name: android_total_ratings, dtype: int64

In [6]:
linear_model_android.fit(android_data.iloc[:, [2,3,4,5,6,7,8]], android_data.iloc[:,1])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
android_data.iloc[-1,2:]

android_avg_rating          4
android_file_size          77
android_rating_4       856213
android_rating_5      4352574
android_rating_2       285115
android_rating_3       528687
android_rating_1       982631
Name: 14783, dtype: object

In [8]:
linear_model_android.predict(android_data.iloc[-1,2:])

C:\Users\Gaurav Kolekar\Anaconda3\envs\env_tf\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 7005220.])

## Reading data for ios

In [9]:
ios_data = pd.read_csv('ios_data.csv')
ios_data = ios_data.iloc[:,1:]
ios_data.head()

       Unnamed: 0.1  ios_file_size  ios_all_ratings  ios_current_ratings
0  21-07-2016 00:00            110           106508                 4688
1  21-07-2016 00:10            110           106508                 4688
2  21-07-2016 00:20            110           106508                 4688
3  21-07-2016 00:30            110           106508                 4688
4  21-07-2016 00:40            110           106508                 4688

In [10]:
ios_data.iloc[:,[1,3]]

       ios_file_size  ios_current_ratings
0                110                 4688
1                110                 4688
2                110                 4688
3                110                 4688
4                110                 4688
5                110                 4688
6                110                 4688
7                110                 4688
8                110                 4688
9                110                 4688
10               110                 4688
11               110                 4688
12               110                 4688
13               110                 4688
14               110                 4688
15               110                 4688
16               110                 4688
17               110                 4688
18               110                 4688
19               110                 4688
20               110                 5668
21               110                 5668
22               110                 5668
23               110                 5668
24               110                 5668
25               110                 5668
26               110                 5668
27               110                 5668
28               110                 5668
29               110                 5668
...              ...                  ...
14287            259                 2353
14288            259                 2353
14289            259                 2353
14290            259                 2353
14291            259                 2353
14292            259                 2353
14293            259                 2353
14294            259                 2353
14295            259                 2353
14296            259                 2353
14297            259                 2353
14298            259                 2353
14299            259                 2353
14300            259                 2353
14301            259                 2353
14302            259                 2353
14303            259                 2353
14304            259                 2353
14305            259                 2353
14306            259                 2353
14307            259                 2353
14308            259                 2353
14309            259                 2353
14310            259                 2353
14311            259                 2353
14312            259                 2353
14313            259                 2353
14314            259                 2353
14315            259                 2436
14316            259                 2436

[14317 rows x 2 columns]

In [11]:
ios_data.iloc[:,2]

0        106508
1        106508
2        106508
3        106508
4        106508
5        106508
6        106508
7        106508
8        106508
9        106508
10       106508
11       106508
12       106508
13       106508
14       106508
15       106508
16       106508
17       106508
18       106508
19       106508
20       107460
21       106508
22       107460
23       107460
24       107460
25       107460
26       107460
27       107460
28       107460
29       107460
          ...
14287    230525
14288    230525
14289    230525
14290    230525
14291    230525
14292    230525
14293    230525
14294    230525
14295    230525
14296    230525
14297    230525
14298    230525
14299    230525
14300    230525
14301    230525
14302    230525
14303    230525
14304    230525
14305    230525
14306    230525
14307    230525
14308    230525
14309    230525
14310    230525
14311    230525
14312    230525
14313    230525
14314    230525
14315    230601
14316    230601
Name: ios_all_ratings, dtype: int64

In [12]:
linear_model_ios = LinearRegression()
linear_model_ios

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
linear_model_ios.fit(ios_data.iloc[:,[1,3]], ios_data.iloc[:,2])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
ios_data.iloc[-1,:]

Unnamed: 0.1           31-10-2016 23:50
ios_file_size                       259
ios_all_ratings                  230601
ios_current_ratings                2436
Name: 14316, dtype: object