# Random Forest Regressor

## importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

## Reading android data

In [2]:
android_data = pd.read_csv('android_data_modified.csv')

In [3]:
random_forest_model_android = RandomForestRegressor()

In [4]:
random_forest_model_android.fit(android_data.iloc[:, [2,3,4,5,6,7,8]], android_data.iloc[:,1])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [5]:
random_forest_model_android.predict(android_data.iloc[-1,2:])

C:\Users\Gaurav Kolekar\Anaconda3\envs\env_tf\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 7004878.9])

In [6]:
android_data.tail()

,Unnamed: 0.1,android_total_ratings,android_avg_rating,android_file_size,android_rating_4,android_rating_5,android_rating_2,android_rating_3,android_rating_1
14779,2016-10-31 23:10:00,7003505,4.0,77.0,856048,4351592,285049,528559,982257
14780,2016-10-31 23:20:00,7003505,4.0,77.0,856048,4351592,285049,528559,982257
14781,2016-10-31 23:30:00,7003505,4.0,77.0,856048,4351592,285049,528559,982257
14782,2016-10-31 23:40:00,7003524,4.0,77.0,856048,4351611,285051,528559,982255
14783,2016-10-31 23:50:00,7005220,4.0,77.0,856213,4352574,285115,528687,982631

## Reading ios data

In [7]:
ios_data = pd.read_csv('ios_data.csv')
ios_data = ios_data.iloc[:,1:]

In [8]:
random_forest_model_ios = RandomForestRegressor()

In [9]:
random_forest_model_ios.fit(ios_data.iloc[:,[1,3]], ios_data.iloc[:,2])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [10]:
random_forest_model_ios.predict(ios_data.iloc[-1, [1,3]])

C:\Users\Gaurav Kolekar\Anaconda3\envs\env_tf\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 230592.635])

In [11]:
ios_data.tail()

           Unnamed: 0.1  ios_file_size  ios_all_ratings  ios_current_ratings
14312  31-10-2016 23:10            259           230525                 2353
14313  31-10-2016 23:20            259           230525                 2353
14314  31-10-2016 23:30            259           230525                 2353
14315  31-10-2016 23:40            259           230601                 2436
14316  31-10-2016 23:50            259           230601                 2436